* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  height: 10vh;
  background-color: rgb(38, 7, 123);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.container > div {
  color: rgb(237, 233, 236);
  padding: 5px 20px;
}

.item2 {
  display: flex;
  gap: 100px;
}
.item2 > li {
  list-style-type: none;
}

.item2 > li > a {
  text-decoration: none;
  color: white;
}
.item2 a:hover {
  color: rgb(12, 13, 13);
  background-color: rgb(235, 240, 241);
  border-radius: 10px;
  padding: 10px 20px;
  transition: 0.3s;
}
.item3 {
  display: flex;
  gap: 30px;
}

main {
  height: 85vh;
  background-image: url(./assets/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: aliceblue;
  text-align: center;
  align-content: center;
}
main > h1 {
  margin-bottom: 145px;
}

.card {
  border: 1px solid rgb(239, 239, 239);
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image {
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title {
  font-family: Arial, sans-serif;
  margin: 0;
  color: hsl(206, 12%, 63%);
}

.card .card-text {
  font-family: Arial, sans-serif;
  color: hsl(206, 0%, 30%);
}

footer {
  height: 5vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: rgb(38, 7, 123);
  color: white;
}
